#copy this file and rename to .env
#containing your credentials


APP_NAME= pataFundi
DATABASE_NAME= patafundi-db
DATABASE_PASSWORD=1234

ALGORITHM=HS256
SECRET_KEY=YOU SECRET KEY
EXPIRE_ACCESS_TOKEN=1440


DATABASE_URL=postgre+psycopg2://postgres:paasword@localhost:5432/patafundi-db
